<!DOCTYPE html>
<html lang="en">

{{>header_link}}

<body>

    <!-- navigation bar content start here  -->
    {{>navbar}}
    <!-- navigation bar content end here  -->

    <!-- banner content start here  -->
    {{>banner}}
    <!-- banner content end here  -->

    <!-- statistic section start here  -->
    {{>statistic}}
    <!-- statistic section end here  -->

    <!-- help section start here  -->
    {{>help}}
    <!-- help section end here  -->

    <!-- join section start here  -->
    {{>join}}

    <!-- join section end here  -->

    <!-- footer section start here  -->
    {{>footer}}
    <!-- footer section end here  -->

   
</body>

</html>