<header id="header-section">
    <div class="container box-1">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-12 first_header_section">
                <p>COVID-19 AWARENESS</p>
                <h1>Stay Safe. Stay Home.</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perferendis
                    ab, libero aliquam esse qui placeat sed enim officia excepturi
                    deserunt!</p>
                <button class="btn btn-primary" type="submit">
                    <img class="img-style1" src="images/superhero.png" alt="superhero img" />
                    Contact Us</button>
            </div>
            <div class="col-lg-6 col-md-12 col-12 second_header_section">
                <img src="images/1.png" alt="bannerImage">
            </div>
        </div>
    </div>
</header>