<section id="secondary-section">
        <div class="first-secondary-section text-center">
            <h1>What you are looking for</h1>
        </div>
        <div class="container wide-space-content">
            <div class="row">
                <div class="col-lg-6 col-12 btn-magic">
                    <button class="d-flex">
                        <i class="fas fa-hospital font-awsm-style"></i>
                        <div class="text-align-left mx-3 color-white">
                            <span class="btn-title">ICU beds</span>
                            <div class="btn-heading">Click to find bed in your location</div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-6 col-12 btn-magic">
                    <button class="d-flex">
                        <i class="fas fa-hospital font-awsm-style"></i>
                        <div class="text-align-left mx-3 color-white">
                            <span class="btn-title">Medicines</span>
                            <div class="btn-heading">find medicine in nearby place</div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-6 col-12 btn-magic">
                    <button class="d-flex">
                        <i class="fas fa-hospital font-awsm-style"></i>
                        <div class="text-align-left mx-3 color-white">
                            <span class="btn-title">Covid Testing</span>
                            <div class="btn-heading">Find RT-PCR test in your locality</div>
                        </div>
                    </button>
                </div>
                <div class="col-lg-6 col-12 btn-magic">
                    <button class="d-flex">
                        <i class="fas fa-hospital font-awsm-style"></i>
                        <div class="text-align-left mx-3 color-white">
                            <span class="btn-title">Home Care</span>
                            <div class="btn-heading">Click to find Home ICU staff</div>
                        </div>
                    </button>
                </div>
            </div>
        </div>
    </section>