<section id="join-section">
        <div class="container">
            <div class="row pad-element">
                <div class="col-lg-10 col-12 btn-magic btn-text">
                    <h1>Be a Superhero! Join Now</h1>
                    <p>We’re a team of strangers. A common mission -- to help India during the Covid crisis, brought us all
                        together to create this platform.
        
                        We need your support. If you’ve any verified information, we sincerely request you to add it. Don’t
                        worry! We’ll verify it before publishing.
        
                        If you want to help us in verifying and updating all the information, please become a volunteer. We need
                        you. India needs you!Indian flag
        
                        If you’ve developed a similar platform, let’s join hands to create a common database, enabling
                        consistent information across the platforms.</p>
                    </div>
                    <div class="col-lg-2 col-12 btn-magic mt-5">
                        <button class="d-flex">VOLUNTEER</button>
                        <button class="d-flex">CONTACT</button>
                </div>
            </div>
        </div>
    </section>