<nav class="navbar navbar-expand-lg navbar-light bg-light mr-5">
        <div class="container">
            <a class="navbar-brand nav_bar" href="#">helpMate</a>
            </button>
            <button class="btn btn-primary button" type="submit">
                <img class="img-style1" src="images/superhero.png" alt="superhero img">
                Be a superhero</button>
    </nav>