<section id="primary-section">
        <div class="first-primary-section">
            <h1>Coronavirus statistics</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate, maxime!</p>
        </div>
        <div class="container">
            <div class="row py-3">
                <div class="col-lg-4 col-md-4 col-12 text-center">
                    <img src="images/6.png" class="image-fluid" alt="viruslogo">
                    <h1 class="count">9,3452</h1>
                    <p>ACTIVE CASE</p>
                </div>
                <div class="col-lg-4 col-md-4 col-12 text-center">
                    <img src="images/6.png" class="image-fluid" alt="viruslogo">
                    <h1 class="count">452</h1>
                    <p>DEATH</p>
                </div>
                <div class="col-lg-4 col-md-4 col-12 text-center">
                    <img src="images/6.png" class="image-fluid" alt="viruslogo">
                    <h1 class="count">789</h1>
                    <p>RECOVERED</p>
                </div>
            </div>
        </div>
    </section>