@media (min-width:0px) and (max-width:375px){
    .img-style1{
        transform: translate(-5px, 1px);
    }
    .button{
        transform: translate(4rem);
    }
    .first_header_section{
        text-align: center;
    }
    .img-style2{
        width: 90vw;
    }
    #primary-section{
        margin-top: 15rem;
    }
}
@media  (min-width:375px) and (max-width:415px){
    .nav_bar{
        transform: translateX(30px);
    }
    .button{
        transform: translate(6rem, 1rem);
    }
    .first_header_section{
        text-align: center;
    }
    .img-style2{
        width: 90vw;
        height: 50vh;
    }
    #primary-section{
        margin-top: 5rem;
    }
    .first-primary-section{
        text-align: center;
        line-height: 2;
}

@media (min-width:416px) and (max-width:539px){
    .first_header_section{
        text-align: center;
    }
    .img-style2{
        height: 40vh;
        width: 90vw;
        border: 8px solid #19B5FE;
        border-radius: 10%;
    }
}


@media  (min-width:540px) and (max-width:770px){
    .first_header_section{
        text-align: center;
        padding: 2%;
    }
    .img-style2{
        width: 90vw;
        height: 40vh;
    }
}
@media  (min-width:771px) and (max-width:1024px){
    .first_header_section{
        text-align: left;
    }
    .img-style2{
        height: 40vh;
        width: 45vw;
    }
}}